.vs
obj
bin
out
.idea
*.iml
*.pptx
*.docx
*.sln
*.cs
01.LinearDS/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.csproj
*.zip
01.LinearDS/ConsoleApplication1/ConsoleApplication1/App.config